* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.top-image {
  filter: brightness(100%);
  width: 100vw;
}

.colheita-image {
  filter:sepia(50%);
  opacity: 0.1;
  width: 100vw;
}

.teste {
  background-color: white;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  margin-top: -22vh;
  padding-top: 10vh;
}

/* HEADER */

a {
  color: white;
  text-decoration: none;
}

.header-container {
  align-items: flex-start;
  background-image: url("https://m.foolcdn.com/media/dubs/original_images/9_3.jpg");
  background-size: cover;
  display: flex;
  height: 70vh;
  padding-top: 3vh;
  width: 100vw;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}

.header-icons {
  filter: invert(100%);
  height: 5vh;
}

li:hover {
  border-bottom: 3px solid white;
}

ul:hover {
  box-sizing: border-box;
  padding-top: 3px;
}

.list-nav-container {
  color: white;
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  list-style-type: none;
  width: 50vw;
}

.list-nav-container:hover {
  cursor: pointer;
}

.right-nav{
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 9vw;
  margin-top: 2.2vh;
  width: 25vw;
}

.right-nav input {
  border: none;
  border-radius: 0.5vw;
  height: 4vh;
  padding-left: 0.4vw;
  width: 15vw;
}

.logo{
  clip-path: circle();
  height: 8vh;
  width: 5vw;
}

/* FOOTER */

.footer-container {
  background: #c4c2c2;
  height: 40vh;  
  margin-top: 10vh;
  position: relative;
  width: 100vw;
}

.icons-container {
  align-content: space-between;
  bottom: 6vh;
  margin-left: 1100px;
  margin-top: 200px;
  position: absolute;
}

.icon-socials {
  color: rgb(88, 14, 32);
  height: 40px;
  width: 40px;
}

.payment-container {
  bottom: 20vh;
  position: absolute;
  text-align: center;
  width: 100vw;
}

.icon-pay {
  height: 50px;
  width: 50px;
}

.information-container {
  justify-content: space-between;
}

.company {
  bottom: 9vh;
  margin-left: 40px;
  position: absolute;
  text-align:left;
}

.cnpj {
  bottom: 6vh;
  margin-left: 39px;
  position: absolute;
  text-align:left;
}

.address {
  bottom: 9vh;
  position: absolute;
  text-align: center;
  width: 100vw;
}

.cep {
  bottom: 6vh;
  position: absolute;
  text-align: center;
}

.warning {
  bottom: 2vh;
  font-size: 11px;
  position: absolute;
  width: 100vw;
  text-align: center;
}

/* PARTNER CARD */

.partnerCard-container {
  align-items: center;
  background-color: rgba(255, 165, 62, 0.603);
  display: flex;
  height: 60vh;
  justify-content: space-around;
  margin-top: -15vh;
  width: 100vw;
}

.left-adverts {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
  margin-left: 50vw;
  margin-top: -122vh;
  position: absolute;
}

.socio{
  animation: chama 0.3s infinite;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  font-size: 4vh;
  font-weight: 900;
  margin-top: -10vh;
  padding: 3vh 2vw;
}

@keyframes chama {
  0% {background-color: orange;}
  100%{background-color: blueviolet;}
}

.logogrande {
  border-radius: 90% 5%;
  width: 45vw;
}

.right-adverts {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
}

.right-adverts H4 {
  margin: 0.6vh 0;
}

.partnerCard-img {
  margin-bottom: -10vh;
  width: 50vw;
}

.adverts-box {
  display: flex;
  flex-direction: column;
}

/* CARD */

.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh 1vw;
  width: 20vw;
}

.card-container:hover {
  color: #6b1451;
}

.images-card{
  background-image: url("./assets/wineSpot1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% ;
  display: flex;
  height: 40vh;
  justify-content: center;
  position: relative;
  width: 20vw;
}

.card-img {
  max-height: 25vw;
  max-width: 12.5vw;
}

.shoppingCart-icon {
  height: 4vh;
  margin-right: 0.3VW;
}

.wine-title {
  font-size: 3vh;
  text-align: center;
  width: 100%;
}

.price {
  margin-top: 2vh;
}

.buttons {
  align-items: center;
  background-color: rgb(211, 211, 211);
  border: none;
  border-radius: 5px;
  display: flex;
  font-weight: 900;
  height: 7vh;
  justify-content: center;
  margin-top: 2vh;
  padding: 3px 5px;
  width: 10vw;
}

.buttons:hover {
  background-color: #6b1451;
  color: white;
}

.buttons button {
  height: 5vh;
  width: 10vw;
}

.card-flag {
  position: absolute;
  right: 2vw;
  top: 1vh;
  width: 5vw;
}

/* CAROUSEL */

.carousel-container{
  align-items: center;
  display: flex;
  height: 40vh;
  justify-content: center;
  position: relative;
  width: 110vw;
}

.scratched-paper {
  image-rendering: pixelated;
  left: -1vw;
  position: absolute;
  top: 163.5git addvh;
  width: 105vw;
  z-index: 5;
}

.bottle {
  animation-duration: 5s;
  animation-name: bottle;
  margin-left: -15vw ;
  transform: rotate(25deg);
  z-index: 999;
}

@keyframes bottle {
  0% {margin-left: -60vw; }
  100% {margin-left: -15vw;}
}

.sommelier-comment{
  font-family: 'Dancing Script', cursive;
  font-size: 4.5vh;
  font-weight: 100;
  margin-top: 5vh;
  width: 40vw;
  z-index: 9999;
}

.carousel-button{
  border: none;
  cursor: pointer;
  font-size: 6vh;
  font-weight: 900;
  height: 10vh;
  padding-top: 1vh;
  position: absolute;
  width: 5vw;
  z-index: 6;
}

.icons-carousel{
  pointer-events: none;
}

#undo {
  left: 5vw;
}

#next {
  left: 90vw;
}

/* CardSlider */

.slider-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}