* {
  padding: 0;
  margin: 0;
}

body {
  height: 400vh;
  position: relative;
}


@media only screen and (max-width: 390px) {
  body{
    background-color: hsla(255, 100%, 90%, 1);
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container {
    position: relative;
  }

  .header-container {
    position: absolute;
    top: 0;
  }
}

  /* HEADER */
  
  .header-container {
    display: flex;
    width: 100vw;
    height: 8vh;
  
    background: #161616;
  }
  
  /* FOOTER */
  
  .footer-container {
    display: flex;
    width: 100vw;
    height: 10vh;
  
    bottom: 0;
    position: absolute;
  
    background: #161616;
  }




